body {
    margin: 0;
    padding: 0;
}

.header {
    padding: 0 100px;
    padding-bottom: 40px;
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header h1{
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}
.header h4 {
    color: #F9FAF8;
    font-size: 24px;
}

.header p {
    font-size: 18px;
    color: #E5E7EB;
}

.header a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.title-img img {
    width: 100%;
    height: auto;
    flex: 1;
    max-width: 500px;
}
.title-text {
    flex: 1;
}

.title-text button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 6px;
    padding: 5px 20px;
    border: #3882F6 solid 2px;
}

/*.body {
    padding: 0 100px;
    padding-bottom: 40px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}*/

.information-container {
    padding: 0 100px;
    padding-bottom: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.information-container h4 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin: 40px;
    text-align: center;
}

.img-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.img-container img {
    width: 150px;
    height: auto;
    border: 5px solid #3882F6;
    border-radius: 5px;
    flex: 1;
}

.img-container p {
    width: 150px;
    height: auto;
    text-align: center;
    flex: 1;
}

.quote-container {
    padding: 20px 100px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
    max-width: 750px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.signature {
    font-weight: 900;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.action-container {
    margin: 50px 150px;
    display: flex;
    flex-direction: column;
}

.call-to-action {
    background-color: #3882F6;
    border: solid 2px #3882F6;
    border-radius: 5px;
    color: white;
    padding: 20px 50px;
}

.call-to-action h5 {
    margin: 0;
    font-weight: 700;
    font-size: 16px;
}

.sign-up {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.sig-up p {
    font-weight: 200;
    flex: 0;
}

.sign-up button {
    background-color: #3882F6;
    border: 1px solid white;
    color: white;
    width: 120px;
}

.footer {
    margin: 0;
    padding: 2px 0;
    text-align: center;
    color: white;
    background-color: #1F2937;
    font-size: 10px;
}